<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Tikape 9to5 making trails on the web!</div>
        
        <h5>Linkkejä ympäri sivustoa (kaikki näistä eivät vielä toimi):</h5>
        <div>
            <a href="/raaka_aineet">raaka-aineet</a>
            <a href="/annos">annokset</a>
            <a href="/annosraakaaine">AnnosRaaka-aine (testaamista varten)</a>
            <a href="/lisaaresepti">Reseptin lisääminen</a>
            <a href="/int">intit (testaamista varten)</a>
            
            
        </div>
        
        
        
        
        
<!---
        <ol>
            <li th:each="raaka_aine : ${raaka_aineet}">
                <span th:text="${raaka_aine.nimi}">Tehtävän nimi</span>
            </li>
        </ol>
<!---
        <h2>Tehtävän lisäys:</h2>
        <form method="POST" action="task">
            <input type="text" name="taskname" placeholder="Tehtävän nimi" />
            <input type="submit">submit</input>
        </form>
--->
    </body>
</html>
