<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Uuden reseptin luominen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Uuden reseptin luomien</div>

        <ol>
            <li th:each="edellinen : ${edelliset}">
                <span th:text="${edellinen.getRaakaaineenNimi}">Raaka-aine</span>
                <span th:text="${edellinen.maara}">Mittayksikkö</span>
                <p th:text="${edellinen.ohje}">Kuvaus</p>
            </li>
        </ol>


        <h2>Reseptin lisäys:</h2>
        <form method="POST" action="raaka_ainereseptiin">
            <!-- <ol>
                 <li th:each="raakaaine: ${raaka_aineet}" th:id="${raakaaineStat.index}">-->
            <select name="raakaaine">
                <option th:each="raakaaine: ${raaka_aineet}" th:text="${raakaaine.nimi}"></option>
            </select>
            <input type="number" min="0" name="maara" placeholder="määrä"></input>
            <input type="text" name="ohje" placeholder="Ohje"></input>
            <input th:text="${resNimi}" type="text" name="resNimi" placeholder="Reseptin nimi"></input>

            <!--  </li>
          </ol> -->
            <input type="submit" name="add" value="Lisää"></input>
            <input type="submit" name="end" value="Valmis"></input>
        </form>

    </body>
</html>
