<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Raaka-aine</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>


                    <h2>Raaka-aineen lisäys:</h2>
                    <form method="POST" action="raaka_aineet">
                        <input type="text" name="nimi" placeholder="Raaka-aineen nimi" />
                        <input type="text" name="kuvaus" placeholder="kuvaus" />
                        <input type="text" name="mittayksikko" placeholder="mittayksikkö" />
                        <input type="submit" value="Tallenna"/>
                    </form>

                    <div>Raaka-aineen tiedot:</div>


                    <table style="width:100%">
                        <tr>
                            <th>Raaka-aine</th>
                            <th>Mittayksikkö</th> 
                            <th>Kuvaus</th>
                            <th>Käytössä</th>
                            <th>Poista</th>
                        </tr>
                    <ul>
                        <li th:each="raaka_aine : ${raaka_aineet}">
                        <tr>
                            <td><span th:text="${raaka_aine.nimi}"/></td>
                            <td><span th:text="${raaka_aine.mittayksikko}"/></td>
                            <td><span th:text="${raaka_aine.kuvaus}"/></td>
                            <td><span th:text="${raaka_aine.kaytossa}"/></td>
                            <td><form th:action="@{~/raaka_aineet/delete/{id}(id=${raaka_aine.id})}" method="POST">
                                    <input type="submit" value="Poista"/>
                            </form></td>
                        </tr>
                        </li>
                    </ul>

                    
                    
                    </table>
                    
                </body>
                </html>
