<!DOCTYPE html>

<html>
    <head>
        <title>Resepti</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <table style="width:100%">
            <ul style="list-style-type:none">
                <li th:each="ARA : ${resepti}" style="list-style-type: none;">
                <tr>
                    <td>
                        <h2>Valitsemasi resepti: <span th:text="${ARA.nimi}"/></h2>
                    </td>
                </tr>
                <tr>
                    <td><span th:text="${ARA.valmistusohje}"/></td>
                </tr>
                </li>
            </ul>
        </table>
        
        
        
        
        <div>
            <a href="/">Etusivu</a>
            <a href="/reseptit">Katsele reseptejä</a>
            <a href="/raaka_aineet">Lisää tai päivitä raaka-aineita</a>
        </div>
    </body>
    
    
</html>
