<!DOCTYPE html>

<html>
    <head>
        <title>Reseptin nimi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <h2>Valitsemasi resepti: kiehuva vesi</h2>
        <table style="width:100%">
            <tr>
                <th>Raaka-aine</th>
                <th>Määrä</th>
                <th>Mittayksikkö</th>
                <th>Lisäysohje</th>
            </tr>
        </table>
        <h3>Valmistusohje:</h3>
        <p>
            Keitä vesi.
            Juo.
            Polta kurkkusi.
            ????
            Profit.
        </p>
    </body>
</html>
