<!DOCTYPE html>

<html>
    <head>
        <title>Resepti</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <h2>Valitsemasi resepti: kiehuva vesi</h2>
        <table style="width:100%">
            <tr>
                <th>Nimi</th>
                <th>Valmistusohje</th>
            </tr>
            <ol style="list-style-type:none">
                <li th:each="ARA : ${resepti}" style="list-style-type: none;">
                <tr>
                    <td><span th:text=${ARA.nimi}"/></td>
                    <td><span th:text=${ARA.valmistusohje}"/></td>
                </tr>
                </li>
        </table>
        
        
        
        
        <h3>Valmistusohje:</h3>
        <p>
            Keitä vesi.<br>
            Juo.<br>
            Polta kurkkusi.
            ????<br>
            Profit.
        </p>
        
        <div>
            <a href="/">Etusivu</a>
            <a href="/reseptit">Katsele reseptejä</a>
            <a href="/raaka_aineet">Lisää tai päivitä raaka-aineita</a>
        </div>
    </body>
    
    
</html>
